.box{
height: 100vh;
}
.box-1{
    background-color: black;
}
.nav_items{
font-size: 18px;
padding: 25px;
color: rgb(255, 255, 255);
}

.nav_items:hover{
    font-size: 18px;
    padding: 25px;
    color: rgb(255, 0, 0);
}
.h1-box {
   border: solid;
   border-color: yellow;
    width: fit-content;
    padding: 10px;
}
.img-1{
    background-image: url(WhatsApp\ Image\ 2024-03-10\ at\ 21.36.27_c3482a12.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.img-2{
    /* background-image: url("https://img.freepik.com/free-photo/outdoor-businessman-having-his-arms-crossed_23-2148763885.jpg?w=996&t=st=1708267809~exp=1708268409~hmac=15b3b0c318ef08cdc2f12fb8fd246c5b2fdfa4afe795d342533dd2d82952dedd"); */
    background-color: white;
    height: 100vh;
    background-size: cover;
    
    }
.m_img{
padding-top: 50px;
margin-top: 50px;
color: white;
}
.font_t {
font-size: 25px;
}
.p-box{
    background-color: rgb(255, 255, 255);
    width: 30cm;
    height: 4cm;
    box-shadow: 0px 0px 10px;
    border-radius: 15px;
}
.p-box_2{
    background-color: rgb(255, 255, 255);
    width: 30cm;
    height: 10cm;
    box-shadow: 0px 0px 6px;
    border-radius: 15px;
    
}
.font-1{
    font-size: 1cm;
    padding-left: 12px;
}
.frame-card{
    box-shadow: 0px 0px 10px    ;
}
.my_class{
 height: 100vh;
background-color: white; }
.my_class-22{
    height: 100vh;
    background-color: steelblue;
   }
.my_class-1{
    height: 100vh;
    background: linear-gradient(
       to right,
       white 0%,
       white 50%,
        rgb(229, 100, 14) 50%,
        rgb(197, 95, 17) 100%
    );
}
  
.proto{
    height: 4cm;
    width: 4cm;
    border-radius: 50%;
   
   
}
.des-text{
    background-image: linear-gradient(black,rgb(255, 0, 0));
    color: transparent;
    background-clip: text;
}
.p-img{
    height: 10cm;
    width: 10cm;
    border-radius: 50%;
}
.text-12{
    justify-content: left;
    
}
.box-2{
    width: 10cm;       /* Width of the box */
    height: 10cm;      /* Height of the box */
    background-color: #f0f0f0; /* Background color */
    box-shadow: 0px 0px 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.icons-1{
    font-size: 60px;
    justify-content: center;
    background-image: linear-gradient(red,rgb(195, 25, 149) ,rgb(63, 63, 181));
    background-clip: text;
    color: transparent;
    padding: 10px;
    margin-left: 50px;

}
.icons-2{
    font-size: 60px;
    justify-content: center;
    color: blue;
    padding: 10px;
}
.icons-3{
    font-size: 60px;
    justify-content: center;
    color: rgb(0, 183, 255);
    padding: 10px;
}
.icons:hover{
    font-size: 60px;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.img-213{
    border-radius: 50%;
    height: 180px;
    padding: 10px;
    margin-left: 50px;

}
.head-123{
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.certify{
    font-size: 18px;
/* padding: 20px;  */
}
.certify:hover{
    font-size: 17px;
    padding: 17px;
    color: rgb(255, 0, 0);
}
.my-img{
padding: 10px;
}
.certify{
    font-size: 17px;
    padding: 17px;
}